.user__wrapper {
    flex: 3;
    display: flex;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}


.user__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: #fff;
    margin: auto;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    justify-items: center;
}

.user__container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: column;
    background-color: #8758ff;
    color: #fff;
    padding: 1.5rem 3rem;
    border-radius: 5px;;

}


.user_btn__wrapper{
    margin: auto;
    padding-top: 15px;
}

.user__btn_container {
    margin: 1rem;
}

.user__list {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 40px;

}
