* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: orangered;
   text-decoration: none;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

#root {
    width: 100%;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}